body {
	background-color: whitesmoke;
	font-family: "Open Sans";
	font-size: 18px;
}
.divBackgroundImage {
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	border-top: 1px solid silver;
	height: 400px;
	margin-left: 0;
	margin-top: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}
.divTextBackground {
	background-color: black;
	height: 170px;
	left: 15%;
	opacity: 0.25;
	position: absolute;
	top: 120;
	width: 70%;
	z-index: 10;
}
.divPageTopText {
	color: white;
	height: 200px;
	left: 15%;
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	top: 120;
	width: 70%;
	z-index: 20;
}
.divPageTopText a {
	color: white;
}
.divPageTitle {
	color: white;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.02em;
	letter-spacing: -0.04em;
	line-height: 1.1;
	margin-bottom: 8px;
	text-shadow: 1px 1px black;
}
.divPageByline {
	color: white;
	font-size: 18px;
	margin-bottom: .5em;
	text-shadow: 1px 1px black;
}
.divPageDescription {
	color: white;
	font-size: 24px;
	height: 3em;
	line-height: 120%;
	margin-top: .5em;
	text-shadow: 1px 1px black;
}
.divPageBody {
	left: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	position: absolute;
	top: 400;
	width: 60%;
}
.divEssayText {
	font-family: "Lora", "Georgia", Serif;
	font-size: 22px;
	line-height: 145%;
	margin-bottom: 30px;
}
.divEssayText p {
	line-height: 145%;
	margin-bottom: 1em;
}
.divEssayText li {
	line-height: 145%;
}
.divSubhead {
	font-family: "Open Sans";
	font-weight: bold;
	margin-bottom: .15em;
	margin-top: 1em;
}
.divMarkdownText h4 {
	font-size: 24px;
	margin-bottom: .75em;
	margin-top: 1.25em;
}
.divVersionNumber {
	color: white;
	font-size: 13px;
	padding: 5px;
	position: absolute;
	right:0;
	top: 0;
	z-index: 20;
}
.divVersionNumber a {
	color: white;
}
.divPageFooter {
	font-size: 16px;
	margin-bottom: 400px;
	padding-bottom: 3em;
	width: 100%;
}
.divPageFooter a {
	color: black;
	cursor: pointer;
}
.divPageFooter hr {
	border-top: 1px solid silver;
	margin: 0;
	margin-bottom: 5px;
}
.divPageFooter p {}
.spFooterRssIcon {
	color: orange; 
	font-size: .9em; 
	font-weight: bold;
	margin-left: 8px; 
	margin-top: 2px;
}
.divComments {
	background-color: white;
	border: 1px solid silver;
	margin-bottom: 50px;
	margin-top: 50px;
	padding: 8px;
}
.emoji {
	display: inline-block;
	height: 1em;
	margin-bottom: 0;
	width: 1em;
}
 #idSnapOpenIcon {
	background: url(http://fargo.io/cms/snap/open.png) center center no-repeat;
	background-color: black;
	cursor: pointer;
	display: block;
	float: left;
	height: 44px;
	width: 44px;
}
.snap-content {
	background-color: whitesmoke;
}
.snap-drawers {
	background: gainsboro;
	width: 400px;
}
.snap-drawer {
	background: gainsboro;
	color: #eee;
	width: 400px;
}
.divLeftDrawer {
	margin-left: 10%;
	margin-top: 30px;
	width: 80%;
}
.divLeftDrawer h4 {
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.divLinksToPosts {
	font-size: 18px;
	line-height: 1.5em;
}
.divLinksToPosts a {
	color: black;
	cursor: pointer;
}
.divLinksToPosts ul {
	list-style-type: none;
	margin: 0;
}
.divLinksToPosts li {
	margin-bottom: 10px;
}
.divFooterText {
	border-top: 1px solid silver;
	text-align: center;
}
.divFooterText p {
	margin-top: 5px;
}
code {
	background-color: inherit;
	color: inherit;
	font-size: .9em;
}
h1,
h2,
h3,
h4 {
	font-family: "Open Sans";
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body {
		background-color: white;
	}
	.divBackgroundImage {
		height: 300px;
	}
	.divPageTopText {
		left: 10%;
		width: 80%;
		top: 50;
	}
	.divTextBackground {
		height: 140px;
		left: 10%;
		top: 100;
		width: 80%;
	}
	.divPageTitle {
		font-size: 44px;
	}
	.divPageDescription {
		font-size: 18px;
		line-height: 120%;
	}
	.divPageBody {
		left: 5%;
		margin-top: 20px;
		top: 300;
		width: 90%; 
	}
	.divEssayText {
		font-size: 18px;
	}
	.divVersionNumber {
		padding: 2px;
		position: absolute;
	}
}
